/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*-- scss:rules --*/

// Resize logo in top left
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

// Align title to center
.title {
  font-family: Permanent Marker;
  text-align: center;
}

.about-image {
  margin-top: 1.5em;
}

.quarto-header {
  max-width: 100%;
}

// Add padding to list items
.li-pad {
  margin: 0 0 10px 0;
}

.bg-link:hover {
  color: black;
}
