/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*-- scss:rules --*/

// Resize logo in top left
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

// Align home page image to center
.about-image-container {
  margin-top: 2em;
  text-align: center;
}

// Align title to center
.quarto-title {
  text-align: center;
}
