/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*-- scss:rules --*/

// Resize logo in top left
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

div.quarto-about-trestles .about-entity .about-image {
  object-fit: cover;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}