
/* title */
.title {
  font-family: "Permanent Marker";
  font-size: 300%;
  text-align: right;
}

/* heading, subtitle, and blurb */
.entity-contents {
  text-align: right;
  padding: 0 3em 0 1em;
}

/* blurb */
.about-contents {
  padding: 0 0 0 2em !important;
}

/* image */
.about-image {
  margin-top: -6em;
  padding: 0 4em 0 0;
}

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  
  /* move text up & center */
  .entity-contents {
    order: 2 !important;
    margin: -6em 0 0 0 !important;
    padding: 0 0 0 0 !important;
    text-align: center !important;
  }
  
  /* title */
  .title {
    text-align: center !important;
  }

  /* blurb */
  .about-contents {
    padding: 0 0 0 0 !important;
  }

  /* move image up, adjust padding */
  .about-image {
    order: 1 !important;
    margin-top: 0em !important;
    padding: 0 3em 0 3em !important;
  }
}
